<header class="header">
	<div id="header_container">
		<%= link_to "sample app", '#', id: "logo" %>
		<ul class="">
			<li><%= link_to "HOME",controller: 'static_pages',action: 'home'    %></li>
            <li><%= link_to "HELP",controller: 'static_pages',action: 'help' %></li>
		</ul>
	</div>
</header>