<header class="header">
	<div id="header_container">
		<%= link_to "sample app", root_path, id: "logo" %>
		<ul class="">
			<li><%= link_to "HOME", root_path   %></li>
            <li><%= link_to "HELP",help_path %></li>
            <li><%= link_to "LOG IN", '#' %></li>
		</ul>
	</div>
</header>