<header class="page_header">
	<div class="container">
		<%= link_to "sample app", '#', id: "logo" %>
		<nav>
			<ul class="">
				<li><%= link_to "Home",controller: 'static_pages',action: 'home'    %></li>
            	<li><%= link_to "Help",controller: 'static_pages',action: 'help' %></li>
			</ul>
		</nav>
	</div>
</header>